.header {
  background-color: #00B7EC;

  @media (max-width: 960px) {
    background-color: #FFFFFF;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 10px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 15px;
      padding: 10px;
    }
  }

  &__logo {
    max-width: 74px;
    max-height: 84px;
    z-index: 2;
    margin: 0 auto; /* Центрируем логотип на мобильных */

    @media (max-width: 480px) {
      max-width: 60px;
    }
    
    @media (max-width: 960px) {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }

    @media (min-width: 960px) {
      .desktop {
        display: block;
      }
      .mobile {
        display: none;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__nav {
    @media (max-width: 992px) {
      display: none;
    }

    ul {
      display: flex;
      gap: 40px;
      font-size: 18px;
      list-style: none;

      li {
        a {
          color: white;
          padding-bottom: 3px;
          text-decoration: none;
          transition: opacity 0.3s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Иконки поиска, корзины и профиля на мобильных
  &__icons {
    display: flex;
    gap: 20px;

    @media (min-width: 960px) {
      display: none; /* Скрываем иконки на мобильных устройствах */
    }

    .icon {
      cursor: pointer;
      width: 24px;
      height: 24px;
      background-size: contain;
    }

    .search {
      width: auto;
      height: auto;
    }

    .cart {
      width: auto;
      height: auto;
    }

    .profile {
      width: auto;
      height: auto;
    }
  }

  // Мобильное меню
  &__mobile-menu {
    display: none;

    @media (max-width: 992px) {
      display: block;
      z-index: 3;

      // Гамбургер-иконка
      &-btn {
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;

        span {
          height: 3px;
          width: 100%;
          background: #00B7EC;
          transition: 0.3s;
        }

        &.active {
          span:nth-child(1) {
            transform: rotate(40deg) translateY(10px);
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(3) {
            transform: rotate(-40deg) translateY(-10px);
          }
        }
      }
    }
  }

  // Мобильная навигация
  .mobile-nav {
    display: none;

    @media (max-width: 992px) {
      display: block;
      position: fixed;
      top: 0;
      left: -200%;
      width: 100%;
      height: 100vh;
      background: white;
      z-index: 1;
      transition: left 0.3s ease;
      padding: 100px 20px 20px;

      &.active {
        left: 0;
      }

      ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        padding: 0;
        text-align: center;
        margin-right: 30px;
        li a {
          font-size: 20px;
          text-decoration: none;
          color: #00B7EC;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .custom-button.whiteBlue {
    margin-left: 50px;
    font-weight: normal;

    @media (max-width: 992px) {
      display: none;
    }
  }
}
